<div class="home-banner">
  <div class="banner-content">
    <h1 id="title">COCKTAILS</h1>
    <%= link_to cocktails_path(:anchor => "list-start") do %>
    <div id="btn-title">
      <h4>View Drink List</h4>
      <i class="far fa-hand-point-down"></i>
    </div>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="new-cocktail">
    <%= render 'form' %>
    <% if @change_mind %>
    <%= link_to "...nevermind", cocktails_path, id: "btn-nvm" %>
    <% end %>
  </div>
  <div id="list-start" class="grid">
      <% @cocktails.reverse.each do |drink| %>
        <%= link_to cocktail_path(drink.id) do %>
        <% if drink.photo.attached? %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path drink.photo.key, crop: :fill %>')">
            <p><%= drink.name %></p>
          </div>
        <% else %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://res.cloudinary.com/dmhxxpuuj/image/upload/v1611258498/mnlgm3eabqzjiz4xcgkn.jpg')">
            <p><%= drink.name %></p>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

